 @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

 * {
     font-family: 'Work Sans', sans-serif;
     margin: 0px;
 }

 header {
     background-color: rgba(255, 144, 14, 0.10);
     padding: 40px 140px;
 }

 .head-title {
     font-size: 2rem;
     color: #131313;
     font-weight: 700;
 }

 nav {
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 nav>ul {
     display: flex;
 }

 nav li {
     list-style: none;
     margin: 10px;
     font-weight: 500;
     font-size: 1rem;
 }


 nav li a {
     text-decoration: none;
     color: #424242;
    transition: font-size 1s;
 }

 nav li a:hover {
     font-size: 2rem;
   
     
 }

 /* Banner part */
 .banner-content {
     text-align: center;
     width: 600px;
     margin: 20px auto;
 }

 .banner-title {
     font-size: 2.6rem;
     color: #131313;
     width: 600px;
     font-weight: 700;
 }

 .banner-des {
     color: #727272;
     font-size: .8rem;
     font-weight: 400;
     width: 611px;
     margin: 20px auto;
 }

 .btn-primary {
     padding: 21px 25px;
     background-color: #FF900E;
     color: #FFF;
     border: 0;
     border-radius: 8px;
     font-size: 1rem;
     cursor: pointer;
     margin: 10px 40px;
     transition: padding 1s;
 }

 .btn-primary:hover{
    background-color: #727272;
    padding: 30px 50px;
}

 .banner img {
     margin-top: 20px;
     width: 100%;
 }

 /* Main Styles */

 main {
     max-width: 1440px;
     margin: 0 auto;

 }

 .team {
     display: flex;
     align-items: center;
 }


 .team-img img {
     width: 10em;
 }

 .team-img {
     margin: 20px 200px;
 }


 .team-img {
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     gap: 10px 10px;
 }

 /*  team content*/

 .team-content {
     text-align: left;
 }

 .team-content-head {
     width: 200px;
 }

 .team-content-des {
     font-size: .8rem;
     color: #727272;
 }

 .team-content button {
     margin-left: -2px;
 }

 .pc {
     color: #727272;
     font-weight: 400;
 }

 .sc {
     color: #FF900E;
 }


 /* Feature section */

 .feature {
     max-width: 1440px;
     display: flex;
     align-items: center;
     margin-top: 40px;
 }

 .feature-content {
     margin: 0px 70px;

 }


 .feature-content h1 {
     font-size: 2rem;
     font-weight: 600;
     width: 300px;
     margin-left: 20px;
     margin-bottom: 10px;

 }

 .feature-content-head {
     background-color: #FF900E;
     width: 5px;

 }

 .feature-content p {
     font-size: .8rem;
     width: 400px;
     margin-top: 10px;
     margin-bottom: 10px;
 }

 .feature-img img {
     width: 60%;
     margin-left: 100px;

 }

 .feature-content-blog {
     border-radius: 8px;
     background: #FFF;
     box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
     width: 400px;
     padding: 10px 20px;
     margin: 20px 0px;
 }
 .big-font{
    font-size: 2.5rem;
    font-weight: 600;
 }

 .feature-img button{
    top: -60px;
    position: relative;
 }



/* Sponsor section */

.sponsor{
    max-width: 1440px;
   

}

.sponsor-content{
    text-align: center;
    padding: 50px 400px;
    
}

.sponsor-content h1{
    font-weight: 600;
    font-size: 1.8rem;
}
.sponsor-content p{
    font-size: .6rem;
    margin-top: 15px;
    padding: 0px 60px;
}

.sponsor-img{
    display: flex;
    justify-content:  space-around;
    gap: 20px;
    padding: 0px 200px;
}

.sponsor-img img{
    width: 10%;
}


/* Footer  */

footer{
    max-width: 1440px;
}

footer p{
    width: 500px;
    background-color: #FFF4E7;
    border-radius: 8px;
    padding: 30px 200px;
    margin: 40px auto ;
    font-size: .6rem;
    text-align: center;
}
