@media screen and (max-width: 576px) {
    /* header  part */
     header{
         padding: 20px ;
         width: 576px;
         
     } 
     .banner-des{
         width: 570px;
         font-size: 2rem;
         
     }
     nav{
         flex-direction: column;
     }
     /*main section  */
   
   main{
    max-width: 576px;
   }
   
   
     .team{
     flex-direction: column;
     width: 576px;
    }
   .team-img{
     grid-template-columns: 1fr;
     margin-left: 250px;

   }
 
.team-img img{
    width: 35em;
    
}


.team-content{
    margin-left: 120px;
    text-align: center;
    /* width: 400px; */
    
    

    
}

.team-content-head{
    width: 400px;
    font-size: 4rem;
}
.team-content-des{
    width: 400px;
    font-size: 2rem;
    margin-top: 40px; 
}

.btn-primary{
    font-size: 2rem;
    padding: 50px 120px;
    margin: 40px;
}


/* Feature part */

.feature{
    max-width: 576px;
    flex-direction: column;
    font-size: 2.7rem;
    
}

.feature-img img{
    width: 100%;
}
.feature-content{
    margin-left: 250px;
}



/* sponsor  part */

.sponsor{
    width: 30%;
}


.sponsor-content{
    width: 400px;
    text-align: justify;
    padding: 30px 20px;
    
}

.sponsor-content h1{
    font-size: 3rem;
    margin-left: 55px;
}
.sponsor-content p{
    font-size: 1.5rem;
    width: 418px;
  
}
.sponsor-img{
    flex-direction: column;
    margin: 36px 107px;
    row-gap: 70px;
}
.sponsor-img img{
    width: 11rem;
    margin-left: -100px;
}
/* Footer  */
footer{
    max-width: 576px;
    margin-left: 21px;
}

footer p{
    padding: 50px 20px;
    font-size: 1.2rem;
    margin-left: 21px ;
}

  }